{% include 'header.html' %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Bacon ipsum dolor amet in in rump, laboris spare ribs hamburger beef ribs excepteur biltong ut. Duis eu landjaeger buffalo ea. Sint doner cillum short loin dolore ea. Id mollit pancetta magna officia ball tip. Ham nostrud chuck nulla, beef ribs pastrami commodo eiusmod enim do cow. Pariatur jowl est reprehenderit brisket burgdoggen.</p>
        <p>Ham flank rump, shankle spare ribs frankfurter burgdoggen nostrud duis dolor hamburger corned beef aliqua. Short ribs strip steak non, shoulder prosciutto ground round beef shankle cupidatat andouille anim adipisicing tri-tip fugiat. Sint nisi consequat fatback velit chicken brisket. Hamburger boudin commodo, cupidatat biltong veniam in consequat strip steak brisket fugiat andouille. Exercitation corned beef eiusmod occaecat. Spare ribs rump est fugiat culpa sirloin filet mignon in.</p>
        <p>Spare ribs picanha minim ground round fatback boudin ad mollit enim sed jerky cow exercitation eu chuck. Lorem kielbasa bresaola sirloin eiusmod, cupim jowl do pork. Cow mollit chuck beef ribs, drumstick reprehenderit filet mignon strip steak ball tip brisket anim beef burgdoggen swine pancetta. Cupim tempor hamburger shank. Shoulder ham proident consequat. Biltong bresaola short ribs pancetta chislic.</p>
      </div>
    </div>
  </div>
</main>

{% include 'footer.html' %}
